.header .container {
   display: flex;
   align-items: center;
   padding: 43px 20px;
}

.nav {
   margin-left: auto;
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__list {
   margin: 0;
   padding: 0;
}

.nav__item+.nav__item {
   margin-left: 33px;
}

.nav__link {
   font-family: 'Barlow';
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.923077px;
   text-transform: uppercase;
   color: #83888F;
}

.nav__link:hover {
   color: #333D4B;
}

.nav__link--active {
   color: #333d4b;
}